{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <br><br>
        <div class="container">
            {% if latest_question_list %}
            
            <div class="header">
                <h4>Available Polls</h4>  
            </div>
            <ul class="list-group">
                {% for question in latest_question_list %}
                <li class="list-group-item">
                    <a href = "{% url 'polls:detail' question.id %}" 
                    class="list-group-item 
                    list-group-item-action">
                        {{ question.question_text }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No polls are available.</p>
            {% endif %}
        </div>
     </body>
</html>
    

        
        